.App {
  text-align: center;
}
#allsb{

  margin-left:-75px !important;
  margin-right:-4 !important;
  
  margin-top: -100px;
}
#allsview{
  margin-left:300px !important;
  margin-right:-90px !important;
  margin-top: -59%;
 

  
}
/* #new{
  margin-left:100px !important;
  margin-top: -50px;
} */
#buttondiv{
  margin-right:-500 !important;
}
#pb{
  margin-left:-128px !important;
  margin-top: -150px!important;
  /* height: 200px; */
  /* width: 50%; */
  /* background-color: powderblue; */
}
#ab{
  margin-left:100px !important;
  margin-top: -150px!important; 
  /* height: 200px;
  width: 50%;
  background-color: powderblue;  */

}
#name{
  margin-left:450px !important;
  font-size: 300%;
  font-style: italic; 
  color: #EEFBFB;

}
/* #asp1{
  margin-left:-1000 !important;
}
#asp2{margin-left:1!important;}
#ac{margin-left:500 !important;} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#wht{
    
  background-image: url(https://img2.goodfon.com/wallpaper/big/1/51/tekstura-uzor-svetlyy-fon.jpg)!important;
  background-size:100%!important;
  margin-left:-140px !important;
  margin-right:-140px !important;

  margin-top: 6%;
  
}

#spp{

  
  margin-left:-8px !important;
  width: 20%;
  margin: 100 auto;
  margin-top:150px;


}

#nike{
  
  margin-left:265px !important;
  margin-right:-140px !important;
  margin-top: -59%;
  

}

#spa{
  
  margin-left:300px !important;
  margin-right:-90px !important;
  margin-top: -59%;

}

#mvp{
  background-color: #A3BCB6;
  background-image: url(https://img2.goodfon.com/wallpaper/big/1/51/tekstura-uzor-svetlyy-fon.jpg)!important;
  background-size:100%!important;
  margin-left:-140px !important;
  margin-right:-140px !important;

  margin-top: 6%;

}

/* .new{
  margin-top: -100px;

} */
#profile{

  
  margin-left:-px !important;
  width: 20%;
  margin: 100 auto;
  margin-top:150px;
}
.nav {
  /* display: flex; */
  align-items: center;
  min-height:10vh;
  background: rgb(216, 213, 213);
  color: white;
}

#csm{

  /* margin-left:300px !important;
  margin-right:-90px !important;
  margin-top: -59%; */

}

.col{
  bottom:15%;
  position:absolute;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}     


/* #login{
  margin-left:100px !important;
  
  


} */
#title{
  margin-left:-100px !important;

}

body {
  
  margin-top:-5000px;
  background: rgb(216, 213, 213)!important;
  background-image: url(https://cdn.hipwallpaper.com/i/42/49/OEbShs.jpg)!important; 
  
  background-size:-100%!important;

}
#all{
  background-color:#707070 !important;

}

#root{
  background: rgb(216, 213, 213)!important; 
  background-image: url(https://cdn.hipwallpaper.com/i/42/49/OEbShs.jpg)!important; 
  background: size 100%!important; 
   
 

 

}

.App {
  text-align: center;
}




