.App {
  text-align: center;
}
#allsb{

  margin-left:400px !important;
  
  margin-top: -300px;
}
#allsview{
  margin-left:315px !important;
  margin-top: -200px;
}
#profile{

  
  margin-left:-100px !important;
  width: 20%;
  margin: 100 auto;
  margin-top:150px;
}
.nav {
  /* display: flex; */
  align-items: center;
  min-height:10vh;
  background: rgb(216, 213, 213);
  color: white;
}

.col{
  bottom:15%;
  position:absolute;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}     
@-webkit-keyframes run {
  0% { left: 0;}
  50%{ left : 100%;}
  100%{ left: 0;}
}

body {
  background-color:black !important;
  background-size: cover;
  /* background-image: url(/Users/alexstephane/Desktop/course_WORK/flatiron_course/dc-web-082420/phase_5/phase5_project/pmtfrontend/src/components/istockphoto-1138395421-612x612.jpg) !important; */
}

#root{
  /* background-image: url(./texturedbackground.jpg); */
 /* background-color: rgb(39, 39, 38) ; */
 color: rgb(53, 138, 138);
 background-image: url(/Users/alexstephane/Desktop/course_WORK/flatiron_course/dc-web-082420/phase_5/phase5_project/pmtfrontend/src/components/depositphotos_3425755-stock-illustration-smooth-vector-blue-background.jpg); 
 background-size: cover;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newsp{

  
}
